<div id="user-flow">
<app-general-content
    [bodyOne]="'Prototyping starts with steps like <span class=highlight-pro>user flow</span> and <span class=highlight-pro>storyboarding</span>. These steps help lay out the logic and problem solving of a design before we start wireframing.'"
    [bodyTwo]="'The following are examples or a simple user flow and storyboard that might explain the user’s journey through a website or app like Hoot Owl Laser Works as the user attempts to make a simple purchase.'"
    [imgSrc]="'/userflow.png'"
    [flexDirection]="'flexcolumn-reverse'"
>
</app-general-content>
</div>
