<div id="hifi">
<app-general-content
    [title]="'<span class=highlight-pro>High Fidelity Prototypes</span>'"
    [bodyOne]="'Between a low fidelity prototype and a high fidelity prototype, there is generally some user testing that is done to get feedback on the design and its functionality. There is more information about this in the “test” phase of this portfolio.'"
    [bodyTwo]="'<a href=https://www.figma.com/proto/1eR58AbSUAdgFHJfqSwnTw/Hi-Fi-Prototype?page-id=0%3A1&node-id=1-2&viewport=190%2C430%2C0.5&t=qyhj965e4VaPS1h1-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1%3A2><img src=viewfigma.png></a>'"
    [imgSrc]="'hifi.png'"
    [flexDirection]="'flexcolumn-reverse'"
>
</app-general-content>
</div>