<div class="header">
    <div class="header__content">
        <div class="header__left">
            <a href="/"><img src="HeartSigNew.png"></a>
        </div>
        <div class="header__right">
            <nav>
                <ul class="header__nav">
                    <!-- @for (link of navLinks(); track link.label) {
                        <li>
                        <a [routerLink]="link.path" [fragment]="link.fragment" routerLinkActive="active-link">
                            {{ link.label }}
                        </a>
                        </li>
                    } @empty {
                        <li>No links provided</li>
                    } -->
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#empathize">Empathize</a></li>
                    <li><a href="#define">Define</a></li>
                    <li><a href="#ideate">Ideate</a></li>
                    <li><a href="#prototype">Prototype</a></li>
                    <li><a href="#test">Test</a></li>
                    <li><a href="#resume">Resume</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
