<div class="content__empathize">
    <app-general-content
        [bodyOne]="'Empathizing with the potential users of the application or product is an important first step in the design process. It helps you understand the user base by collecting information about the kinds of problems users have when using the type of application or product you are creating.'"
        [bodyTwo]="'There are many ways to organize the user data as you collect it for future use including <span class=highlight-emp>Interviewing Users</span>, <span class=highlight-emp>User Personas</span>, <span class=highlight-emp>User Stories</span>, <span class=highlight-emp>Empathy Maps</span>, <span class=highlight-emp>User Journey Maps</span>.'"
        [imgSrc]="'emp1.png'"
    ></app-general-content>
</div>
