<div id="prob-stat">
<app-general-content
    [bodyOne]="'Referencing user data collected during the empathy phase to define pain points and write strong problem statements is the foundation of the define phase of the design thinking model.'"
    [bodyTwo]="'<span class=highlight-def>Use the 5 W’s to create a strong problem statements:</span><br /> Who is experiencing the problem?<br /> What is the problem?<br /> Where is the user when the problem occurs?<br /> When does the problem occur?<br /> Why is the problem important?'"
    [imgSrc]="'probstats.png'"
    [flexDirection]="'flexcolumn'"
>
</app-general-content>
</div>
