
.intro {
    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        max-width: 75vw;
        margin: 5rem auto;
        text-align: right;
        gap: 3rem;

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        img {
            max-height: 700px;
            margin: 0;
        }
    }

    &__content {
        max-width: 600px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 1200px) {
            align-items: center;
        }
    }

    &__name {
        color: var(--color-accent);
    }

    // &__img {
    //     background-image: url('/seattle.jpg');
    //     height: 700px;
    //     width: 500px;
    //     background-size: 200%;
    //     background-position: center center;
    //     border-radius: 20px;
    // }
}