.interview-form form {
    text-align: center;
}

.interview-form button {
    margin-top: 3rem;
    background-color: var(--color-accent);
    color: #111;
    border-color: var(--color-accent);
    padding: .75rem 2.75rem;

    &:hover {
        background: #222;
        color: var(--color-accent);
        border-color: var(--color-accent);
    }
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    margin-top: 3rem;
    background-color: #111;
    color: var(--color-accent);
    border-color: var(--color-accent);
    padding: .75rem 2.75rem;
}

.interview-form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    text-align: left;

    @media (max-width: 1220px) {
        grid-template-columns: 1fr;
    }
}

.form-control {
    background-color: #222;
    border-color: var(--color-accent);
    color: white;
}

label {
    font-weight: bold;
    color: var(--color-accent);
    margin-bottom: .5rem;
}