<div id="comp-audits">
<app-general-content
    [bodyOne]="'Competitive Audits are one of the go to ways to help generate ideas for your design. An in depth competitive audit would include a deep dive into what makes direct and indirect competitors successful allowing our design to fill gaps in the market, and innovate off of already successful ideas.'"
    [bodyTwo]="'This competitor is another Etsy shop and so the Competitor Audit is more an audit of the prices, descriptions, and customer review comments than it is the functionality of the site itself. <p class=highlight-tiny>*I have changed the name of this competitor to maintain privacy for the case study.</p>'"
    [imgSrc]="'/compaudits.png'"
    [flexDirection]="'flexcolumn-reverse'"
>
</app-general-content>
</div>
