<div id="hoot-owl">
<app-general-content
    [title]="'Introduction to <span class=highlight>Hoot Owl Laser Works</span>'"
    [bodyOne]="'The design thinking model is an iterative design process that puts the user and their needs at the center of the creation process. The steps are non-linear and are meant to be flexible to support the continuous improvement of the design to support all user needs and project requirements prior to a final launch.'"
    [bodyTwo]="'After we understand the project we are working on, the very next step is to understand, or empathize, with the potential users to that project.'"
    [imgSrc]="'hootowl.png'"
    [imgClass]="'bordered'"
    [flexDirection]="'flexrow-reverse'"
>
</app-general-content>
</div>
