<div id="value-prop">
<app-general-content
    [bodyOne]="'Once you have problem and hypothesis statements, you can start to build value propositions. This should answer the question:'"
    [bodyTwo]="'<span class=highlight-def><i>What does it do and why should the user care?</i></span><br /><div class=gen-card><span class=highlight-def>Step One: Describe features and benefits</span><br />List the features of your product or application.</div><div class=gen-card><span class=highlight-def>Step 2: Explain the value</span><br />Sort those features into categories. Not all feature will fit neatly. Discard the ones that don’t match.</div><div class=gen-card><span class=highlight-def>Step 3: Connect features to user needs</span><br />This becomes the personalized value proposition for that user</div>'"
    [imgSrc]="'valueprop.png'"
    [flexDirection]="'flexrow-reverse'"
>
</app-general-content>
</div>
