<div id="design-thinking">
<app-general-content 
    [title]="'Using the <span class=highlight>Design Thinking</span> Model'"
    [bodyOne]="'The design thinking model is an iterative design process that puts the user and their needs at the center of the creation process. The steps are non-linear and are meant to be flexible to support the continuous improvement of the design to support all user needs and project requirements prior to a final launch.'"
    [bodyTwo]="'This portfolio is going to walk you through a project I created using the design thinking model. It will show you my thought process in the creation of the design for a simple e-commerce website, and explain each steps purpose along the way.'"
    [imgSrc]="'/designthinking.png'"
>
</app-general-content>
</div>