<div id="wireframes">
<app-general-content
    [title]="'<span class=highlight-pro>Information Architecture & Paper Wireframes<span>'"
    [bodyOne]="'Wireframes are often the first time we start to see the design take form. They allow for very fast iterations through design concepts and ideas before we start building out more concrete layouts cia low fidelity and high fidelity prototypes.'"
    [bodyTwo]="'I like to lay out the information architecture of my project before I begin drawing wireframes, as shown in these example pieces.'"
    [imgSrc]="'wireframes.png'"
>
</app-general-content>
</div>
