<div id="lofi">
<app-general-content
    [title]="'<span class=highlight-pro>Digital Wireframes & Low Fidelity Prototypes</span>'"
    [bodyOne]="'After creating paper wireframes, it is good to create digital wireframes to allow for collaboration and iteration in a formal, digital setting.'"
    [bodyTwo]="'The main difference between a digital wireframe and a low fidelity prototype is the interactivity. Here you can see screenshots of a digital lo-fi prototype made with Figma.<br /><a href=https://www.figma.com/proto/qijMtuweSPC9k8w3J0A2u7/Digital-Wireframes?node-id=0-1&t=TjqQmQLt9VS2HFAi-1><img src=viewfigma.png></a>'"
    [imgSrc]="'/lofi.png'"
    [flexDirection]="'flexrow-reverse'"
>
</app-general-content>
</div>