<div id="resume" class="resume">
    <div class="resume__container">
        <div class="resume__left">
            <div class="resume__img bordered"></div>
            <div class="resume__icons">
                <a href="https://www.linkedin.com/in/mallory-combes-3195a148/" target="_blank" aria-label="LinkedIn Profile">
                    <fa-icon [icon]="linkedinIcon"></fa-icon>
                </a>
                <a href="https://drive.google.com/file/d/1wJe1R5qI3ofYUDprx1F7R2CXBmwCeplz/view?usp=sharing" target="_blank" aria-label="Resume">
                    <fa-icon [icon]="fileIcon"></fa-icon>
                </a>
            </div>
        </div>
        <div class="resume__right">
            <div class="resume__form">
                <div class="resume__title core__title highlight">
                    Request an Interview
                </div>
                <div class="resume__form-content">
                    <app-form-interview />
                </div>
            </div>
        </div>
    </div>
</div>
